//imported fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

$divy-blue: #3db7e4;
$font: 'Roboto', sans-serif;

.loading-container{
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .spinner-border{
        height:8rem;
        width:8rem;
    }
}

/*====== Navigation Styles ======*/
.navigation{
    padding:30px 15px;
    display: flex;
    align-items: center;
    @media only screen and (max-width:600px){
        flex-direction: column;
        padding-bottom:0px;
    }
    .nav-title{
        color: $divy-blue;
        margin-bottom:0px;
        @media only screen and (max-width:600px){
            text-align:center;
        }
    }
    .nav-links{
        @media only screen and (max-width:600px){
            justify-content: center;
            margin-top:20px;
        }
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-bottom:0px;
        font-family: $font;
        li{
            color: $divy-blue;
            border-radius: 25px;
            list-style-type: none;
            transition: .3s;
            padding: 5px 15px;
            margin:5px 5px;
            font-size: 20px;
            &:hover{
                border-radius: 25px;
                background-color: $divy-blue;
                color: #fff;
            }
        }
        a:hover{
            text-decoration:none;
        }
    }
}

/*====== Hero Section Styles ======*/
.overlay{
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    position:relative;
    @media only screen and(max-width:450px){
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
    }
    .home-hero-section{
        background-color: $divy-blue;
        clip-path: polygon(0 0, 100% 0%, 100% 84%, 0 100%);
        color: #fff;
        @media only screen and(max-width:450px){
            clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
        }
        &:after{
            content: "";
            background: url('./styleImages/bike-unsplash.jpg');
            background-position: center;
            background-size: cover;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;   
        }
        .home-hero-container{
            position: relative;
            z-index: 22;
            text-align: center;  
            height: 68vh; 
            display: flex;  
            flex-direction: column;
            justify-content: center;
            padding-bottom:50px;

        }
        .text-container{
            position:absolute;
            text-align:center;
            font-family: $font;
            width:80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            h1{
                font-size:9vw;
                @media only screen and (max-width:500px){
                    font-size:21vw;
                }
            }
            p{
                margin: 30px 0px;
                font-size:2.0vw;
                font-style: italic;
                @media only screen and (max-width:500px){
                    font-size:5vw;
                    margin-top:10px;
                }
            }
        }
    }
}
.home-row{
    justify-content: center !important;
    .tiltFormat{
        justify-content: center !important;
    }
    .cards{
        margin: 20px;
        @media only screen and (max-width: 450px){
            margin:35px;
        }
        &:hover{
            img{
                transform: scale(0.92);
            }
        }
        img{
            transition: .5s;
            z-index:1;
        }
        .cardButton{
            width:100%;
            background-color: $divy-blue;
            color: #fff;
            border:none;
            height:45px;
            &:focus{
                opacity: .8;
                background-color:$divy-blue;
                color: #fff;
                border:none !important;
            }
            &:active{
                background-color:$divy-blue !important;
                color:#fff;
                opacity: .8;
                border: none;
            }
        }
    }
}


.station-marker-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #444444;

}
.station-marker-text{
    display:none;
}

.station-marker-icon:hover + .station-marker-text{
    display: block;
    position: relative;
    z-index: 1;
    width:150px;
    font-size: 48;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f3f0f0;
    border: 1px solid black;
    border-radius: 5%;
    padding: 5px;
}

.station-info-pane{
    background-color: rgb(222, 224, 228);
    border: 1px solid black;
}

.map-container{
    padding: 5px 20px 20px 20px;
.react-datepicker__input-container{
    input[type="text"]{
        border-radius: 50px;
        text-align:center;
    }
    input[type="text"]:focus{
        border-radius: 50px;
    }
}
}
