//imported fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

$divy-blue: #3db7e4;
$font: 'Roboto', sans-serif;

.loading-container{
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .spinner-border{
        height:8rem;
        width:8rem;
    }
}

.navigation{
    padding:20px 15px;
    display: flex;
    align-items: center;
    @media only screen and (max-width:600px){
        flex-direction: column;
    }
    .nav-title{
        color: $divy-blue;
        margin-bottom:0px;
        @media only screen and (max-width:600px){
            text-align:center;
        }
    }
    .nav-links{
        @media only screen and (max-width:600px){
            justify-content: center;
            margin-top:20px;
        }
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-bottom:0px;
        font-family: $font;
        li{
            color: $divy-blue;
            border-radius: 25px;
            list-style-type: none;
            transition: .3s;
            padding: 5px 15px;
            margin:5px 5px;
            font-size: 20px;
            &:hover{
                border-radius: 25px;
                background-color: $divy-blue;
                color: #fff;
            }
        }
        a:hover{
            text-decoration:none;
        }
    }
}

.station-marker-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #444444;

}
.station-marker-text{
    display:none;
}

.station-marker-icon:hover + .station-marker-text{
    display: block;
    position: relative;
    z-index: 1;
    width:150px;
    font-size: 48;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f3f0f0;
    border: 1px solid black;
    border-radius: 5%;
    padding: 5px;
}
.map-container{
    position: absolute;
    top:150px;   
    border-top: 1px solid #444444;
}
.react-datepicker__input-container{
    input[type="text"]{
        border-radius: 50px;
        text-align:center;
    }
    input[type="text"]:focus{
        border-radius: 50px;
    }
}
.map-utility-bar{
    border-top: 1px solid #444444;
    padding-top: 10px;
    
    
}
.search-bar{
    padding-left: 15px;
    padding-bottom: 10px;
    
}
.search-results{
    width:100%;
    height: 300px;
    position: relative;
    z-index: 1; 
    overflow: auto;
    padding-left: 138px;
}
.search-result{
    width: 100%;
    position: relative;
    z-index: 1;
    background: $divy-blue;
    list-style-type: none;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.search-result:hover{
    background: #f3f0f0;
    color :$divy-blue;
}
.station-info-pane{
    .h3{
        text-align: center;
    }
    text-align:left;
    box-shadow: -2px 2px 5px 0 #aaaaaa;
    font-size: 22px;
    padding-left: 10px;
}
.search-input{
    width:75%;
}
.date-picker{
    height: 20px;
    width: 150px;
    font-size: 16px;
    border: 0.5px solid #aaaaaa;
}
.no-gutters-9 {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-9"] {
      padding-right: 0;
      padding-left: 0;
    }
}
